<ul class="nav nav-pills">
  <li class="nav-item">
    <a class = "nav-link" href = "/tasks"> Home </a>
  </li>
  <li class="nav-item">
    <a class = "nav-link" href = "/tasks/active"> Active Tasks </a>
  </li>
  <li class="nav-item">
    <a class = "nav-link" href = "/tasks/time_remaining"> Tasks Due </a>
  </li>
  <li class="nav-item">
    <a class = "nav-link" href = "/tasks/completed"> Completed Tasks </a>
  </li>
  <li class="nav-item" id = "nav-right">
    <a class = "nav-link" href = "/tasks/new"> New Task </a>
  </li>
</ul>
