<ul class="nav nav-pills">
<li class="nav-item">
  <a class = "nav-link" href = "http://localhost:3000/tasks"> Home </a>
</li>
<li class="nav-item">
  <a class = "nav-link" href = "http://localhost:3000/tasks/new"> New Task </a>
</li>
</ul>
