<ul class="nav nav-pills">
  <li class="nav-item">
    <a class = "nav-link" href = "http://localhost:3000/tasks"> Home </a>
  </li>
  <li class="nav-item">
    <a class = "nav-link" href = "http://localhost:3000/tasks/active"> Active Tasks </a>
  </li>
  <li class="nav-item">
    <a class = "nav-link" href = "http://localhost:3000/tasks/time_remaining"> Tasks Due </a>
  </li>
  <li class="nav-item">
    <a class = "nav-link" href = "http://localhost:3000/tasks/completed"> Completed Tasks </a>
  </li>
  <li class="nav-item" id = "nav-right">
    <a class = "nav-link" href = "http://localhost:3000/tasks/new"> New Task </a>
  </li>
</ul>
