<%= render 'header' %>
<br></br>
<div id="" = "in-progress">
<%= render "table", task_parameter: @task_inprogress %>
</div>
<br><br>
<div id = "awaiting-reply">
<%= render "table", task_parameter: @task_awaitingreply %>
</div>
<br></br>
<div id = "pending">
<%= render "table", task_parameter: @task_pending %>
</div>
<br></br>
