<%= render 'header' %>
<br>
</br>
<%# debug @task %>

<h1> Completed </h1>
<br>
</br>
<div id = "completed-page">
  <%= render "table", task_parameter: @task_completed , sortable:false, del:false%>
</div>
