<%= render "header" %>
<br>
</br>
<div id = "time-alert">
  <% unless @task_today.empty? %>
    <div id = "today">
      <h1>Today</h1>
      <br>
      </br>
        <%= render "table", task_parameter: @task_today, del:false %>
      <br>
      </br>
    </div>
  <% end %>
</div>
