/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
 h1 {
   margin: 0px 20px;
 }

 #nav-right {
   float: right;
 }

 .list-group-item {
   font-size: 12pt
 }

 .alert_container{
   margin: 0px 30px;
   height: 80px;
   top:30px;
 }

 .form {
   width: 800px;
 }

 .row {
   background-color : white;
   font-size: 12pt;
   padding: 20px 20px;
   height: 67px;
   word-wrap: break-word;
 }


 a.show_task {
     text-decoration: none
 }


.overdue {
  font-weight: bold;
  color: red;
}

.alert-my{
  padding:15px;margin-bottom:20px;
  border:1px solid transparent;
  border-radius:4px;
  color:#3c763d;
  background-color:#dff0d8;
  border-color:#d6e9c6
}

.alert-w{
  padding:15px;margin-bottom:20px;
  border:1px solid transparent;
  border-radius:4px;
  color:#856404;
  background-color:#fff3cd;
  border-color:#ffeeba;
}

input[type=text] {
  width:1140px;

}

input[type=date] {
  width:1140px;

}

textarea{
  width:1140px;
  height: 150px;
  resize: vertical;
}

select#task_status {
  width:1140px;
}

.palette-color-picker-button {
  width:40px;
  height:40px;
  margin-right: 16px;
}

input[type=string]{
  display: inline-block;
  width: 1068px;
  padding-bottom: -2px;
}

.line{
  width:1145px;
  height:5px;
  background-color: grey;
}

#bookmark-color {
  width:1140px;
  height: 80px;
  border-radius:15px;
  border:1px;
  border:solid;
  border-color: #7abaff;
  padding:20px;
  text-align:center;
  font-style:italic;
}

.bookmark-row{
  width: 100px;
}

.left-row{
  float:left;
  width:560px;
  font-size:18px;
}
.right-row{
  float:right;
  width:560px;
  font-size:18px;
}

.format-text{
  font-size:8px;
}

.center{
  width: 50%;
  margin: 0 auto;
}
